<div id="task_header" class="header">
  <h2 class="headerContainer"> My To Do List </h2>
  <div>
    <input type="text" id="InputBox" placeholder="Enter A Task">
      <button id="addBtn" onclick="addItem()"> + </button>
    </div>
</div>

<ul id="task_list">
</ul>