<div class="container">
  <div class="login-wrapper">
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="clearbtn login active" onclick="toggle('login')">Login</button>
      <button type="button" class="clearbtn register" onclick="toggle('register')">Register</button>
    </div>
    <form id="loginform">
      <div class="form-group hide">
        <label for="name"></label>
        <input type="name" class="form-control borderless" id="name" placeholder="Enter name">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1"></label>
        <input type="email" class="form-control borderless" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1"></label>
        <input type="password" class="form-control borderless" id="exampleInputPassword1" placeholder="Password">
      </div>
      <div class="form-group hide">
        <label for="confirm_password"></label>
        <input type="text" class="form-control borderless" id="confirm_password" placeholder="Confirm Password">
      </div>
      <br>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">I agree to the Terms & Conditions</label>
      </div>
      <br>
      <button type="submit" class="button btn">Submit</button>
    </form>
  </div>
</div>